[Unit]
Description=BlueStick 32 Button gamepad automatic start with systemd, respawn, after bluetooth
After=bluetooth.target
After=multi-user.target
Requires=bluetooth.target

[Service]
ExecStart=/usr/bin/python3 -u gamepad_32_buttons_inputevent.py
WorkingDirectory=/home/player/BlueStick/resource/main
Type=idle
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=32_button_bluestick
ExecStartPre=/bin/sleep 10
User=root
Group=root

[Install]
WantedBy=multi-user.target



